<div ng-controller="login">

    <div ng-hide="loginform">
        <div class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>

            <label for="loginame" class="sr-only">User name</label>
            <input value=Chani type="name" ng-model="user.name" class="form-control" placeholder="User name" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input value=1234 type="password" ng-model="user.password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Sign in</button><br>
            <span calss="error" id="login_error"></span>
        </div>
    </div>

</div>