<!doctype html>
<html lang="en" ng-app="nodejsApp">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='css/app.css'>
    <link rel="stylesheet" href="home/home.css">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="public/scripts/app.js"></script>
    <script src="public/scripts/route.js"></script>
    <script src="public/scripts/services.js"></script>
    <script src="public/home/home.js"></script>


    <!-- <script src="public/products/producrs.controller.js"></script> -->
    <script src="public/school/school.controller.js"></script>
    <!-- <script src="public/suppliers/suppliers.controller.js"></script> -->

</head>

<body>
    <div class="content" ng-controller="mainScreen">

        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">The School 2</a>
                    </div>
                    <div ng-hide="mainbar">
                        <ul class="nav navbar-nav" id="mainNav">
                            <li><a href="#!school">school</a></li>
                            <li><a href="#!administration">administration</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div>
            <div ng-hide="loginform">
                <div class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>

                    <label for="loginame" class="sr-only">User name</label>
                    <input value=Chani type="name" ng-model="user.name" class="form-control" placeholder="User name" required autofocus>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input value=1234 type="password" ng-model="user.password" class="form-control" placeholder="Password" required>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)">Sign in</button><br>
                    <span calss="error" id="login_error"></span>
                </div>
            </div>


        </div>


        <div ng-view></div>

    </div>

</body>

</html>